
body {
    background-color: #e4e4e4;
}

.container {
    display: flex;
    gap: 10px;
    flex-direction: row;

}

.kiri {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid skyblue;
    width: 50%;
    opacity: 0.999;
}

.input {
    padding: 10px;
    border-radius: 12px;
    border: 2px solid skyblue;
}

h3 {
    margin: 0%;
}

h4 {
    margin-top: 5px;
    margin-bottom: 0%;
}

.kanan {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid skyblue;
    width: 50%;
    opacity: 0.999;
}

.box-kanan-hasil {
    padding: 10px;
    border-radius: 12px;
    border: 2px solid skyblue;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul {
    margin-top: 2px;
    padding-left: 15px;
}

li {
    list-style: decimal;
}

.box-kanan-sakit {
    padding: 10px;
    border-radius: 12px;
    border: 2px solid skyblue;
}

.button {
    margin-top: 10px;
    background-color: #26aee7;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 1.5%;
    cursor: pointer;
}


.button:hover {
    background-color: #5ea4c1;
}
.hov-red:hover {
    background-color: #d67d4e;
}
